*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border: none;
    font-family: Helvetica, sans-serif;
}
body, html{
    background-color: aliceblue;
    overflow-x: hidden;
    max-width: 800px;
}
header{
    width: 100%;
    margin: auto;
    padding: 14px 0px;
    color: aliceblue;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    background-color: aliceblue;
    box-shadow: 0px -5px 15px -1px #00000047;

}
header h1{
    font-size: 1.5em;
    font-weight: 900;
    color: black;
}
.maiusculas{
    text-transform: uppercase;
}
main{
    display: none;
}
.inputBox{
    display: flex;
    flex-direction: column;
    position: relative;
    width: var(--larguraComum);
    margin: auto;
}
.inputBox input{
    width: 100%;
    padding: 14px;
    border: 1px solid black;
    background: none;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
    margin-bottom: 26px;
}
.containerquantidade .select{
    width: 100%;
    padding: 0px 14px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 1em;
    background: aliceblue;

}
.containerquantidade input{
    padding: 14px;
    width: 100%;
    outline: none;
    background: none;

}
.selectNumPessoas{
    width: 93%;
    margin: 0px auto 10px auto;
    box-shadow: 0px 0px 5px black;
    border-radius: 0px 0px 10px 10px;
    display: none;
}
.selectNumPessoas p{
    padding: 14px;
    border-bottom: 1px solid #00000047;
}
.selectNumPessoas p:hover{
    background-color: rgba(0, 0, 0, 0.03);
}
.selectNumPessoas p:last-child{
    border-bottom: none;
}
.inputBox span,
.containerquantidade span{
    position: absolute;
    left: 0;
    padding: 14px;
    pointer-events: none;
    font-size: 1em;
    color: black;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 2px 10px;
    background-color: aliceblue;
    text-transform: uppercase;
    border-radius: 5px;
}
.containerPay .inputBox input:valid ~ span,
.containerPay .inputBox input:focus ~ span{
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 2px 10px;
    background-color: hsl(208deg 48% 94%);
    text-transform: uppercase;
    border-radius: 5px;
}
.inputBox input:focus ~ span{
    color: var(--colorSecundary);
}
.inputBox input:focus{
    border: 1px solid var(--colorSecundary);
}
.informacoesCompra,
.informacoesPessoais{
    padding: 5px 0px;
    margin-bottom: 10px;
}
.informacoesCompra{
    background-color: hsl(208deg 48% 94%);
    width: 100%;
    margin: 20px auto 50px auto;
    padding: 20px 0px;
}
.informacoesPessoais >p,
.containerNomes > p{
    text-transform: none;
    width: var(--larguraComum);
    margin: 20px auto;
}
.informacoesPessoais >p{
    margin-top: 40px;
}
.informacoesCompra > p{
    text-transform: none;
    width: var(--larguraComum);
    margin: 0px auto;
    margin-bottom: 20px;
}
.ccGZTm {
    display: flex;
    justify-content: space-between;
    overflow-x: overlay;
}
.gLqOuj.duplo {
    grid-column: span 2 / auto;
    opacity: 1;
}
.gLqOuj {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(102, 206, 2);
    text-align: center;
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
}
.ipmdye {
    width: 100%;
    --iconsHeight: 1rem;
    border: none;
    grid-template-rows: 50px;
    display: grid;
    grid-template-areas:
        "icon"
        "title";
    margin: 0px 10px;
    padding-bottom: 0.5rem;
    --iconsWidth: 35px;
    --fontColor: #666;
    cursor: pointer;
    align-content: baseline;
    justify-content: center;
}
.ccGZTm input {
    display: none;
}
.iwlnpv {
    width: 100%;
    grid-area: icon / icon / icon / icon;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 5px;
    --lineBottomHeight: 3px;
    position: relative;
    min-height: calc(24px + calc(var(--lineBottomHeight)));
}
.iwlnpv::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: var(--lineBottomHeight);
    background-color: var(--colorSecundary);
    transition: all 150ms ease-out 0s;
    transform: scaleX(0);
}
.ipmdye .payment-icon path, .ipmdye .ame-icon, .ipmdye .payment-option-title {
    transition: all 150ms linear 0s;

    text-align: center;
}
.iwlnpv > .payment-icon, .iwlnpv > .ame-icon {
    height: 24px;
    width: 24px;
}
.ccGZTm input[type="radio"]:checked ~ .payment-option-title {
    color: var(--colorSecundary);
}
.gLqOui {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgb(102, 206, 2);
    text-align: center;
    margin-bottom: 5px;
    font-size: 10px;
    border: 1px solid rgb(255, 255, 255);
    -webkit-box-pack: end;
    justify-content: flex-end;
    font-weight: normal;
    width: 100%;
}
.gLqOui > span {
    text-transform: initial;
    margin-left: 4px;
}
.containerPay{
    display: none;
    width: var(--larguraComum);
    margin: 30px auto 0px auto;
}
.containerPay p{
    margin-bottom: 10px;
    text-align: center;
}
.containerPay p:nth-child(2){
    margin-bottom: 0px;
}
.containerPay .inputBox,
.containerPay .containerValiCog{
    width: 100%;
}
hr{
    height: 2px;
    width: 100%;
    background-color: hsl(210deg 30% 91%);
    display: none;
}
.inputBox span,
.containerquantidade span{
    color: #666;
}
.containerValiCog{
    display: flex;
}
.containerValiCog input{
    margin: 0px;
}

.containerValiCog .inputBox:nth-child(1){
    margin: 0px 5px 0px 0px;
}
.containerValiCog .inputBox:nth-child(2){
    margin: 0px 0px 0px 5px;
}
.containerquantidade{
    display: flex;
    flex-direction: column;
    position: relative;
    width: var(--larguraComum);
    margin: 30px auto 0px auto;
}
.containerquantidade input{
    margin: 0px;
}
.containerNomes{
    display: none;
}
.containerCodPix{
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
}
.containerCodPix > p{
    font-weight: bold;
    margin: 10px;
}
.containerCodPix div{
    background-color: rgb(225 232 239);
    padding: 14px 20px;
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid rgb(167 173 178);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 0.8em;
}
.containerCodPix div p{
    margin: 0%;
}
.containerCodPix button{
    background: none;
    margin: 10px auto;
    width: fit-content;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--colorSecundary);
    font-weight: bold;
    color: var(--colorSecundary);
    cursor: pointer;
}
.containerCodPix button:hover{
    background-color: var(--colorSecundary);
    color: aliceblue;
}
.instrucoesCodPix > p{
    text-align: left;
    margin: 16px 0px;
}
.instrucoesCodPix div{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    color: #666;
}
.instrucoesCodPix span{
    background-color: #00000047;
    padding: 5px 8px;
    border-radius: 50%;
    margin-right: 14px;
    font-size: 0.8em;
    color: aliceblue;
}
.instrucoesCodPix div p{
    text-align: left;
    font-size: 0.8em;
}
.containerPreco{
    width: 100%;
    background-color: #e8f0f7;
}
.containerResumoCompra{
    width: var(--larguraComum);
    margin: 20px auto;
    padding: 16px 0px;
    color: rgb(102, 102, 102);
}
.containerResumoCompra h1{
    font-size: 1.2em;
    margin-bottom: 14px;
}
.containerResumoCompra > p:nth-child(2){
    margin: 14px 0px;
}
.containerResumoCompra span{
    display: flex;
    justify-content: space-between;
}
.containerResumoCompra span p{
    margin: 0;
    color: black;
}
.containerResumoCompra span p:nth-child(2){
    font-size: 1.2em;
}
#btnConfirmarCard{
    margin: 0;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--colorSecundary);
    font-weight: bold;
    cursor: pointer;
    background-color: var(--colorSecundary);
    color: aliceblue;
}
#btnConfirmarCard:hover{
    background: none;
    color: var(--colorSecundary);
}
#resumo_title{
    display: none;
}
#resumo_nome{
    display: none;
}
#hr2{
    background-color: #e1e8ef;
    width: 100%;
    height: 1px;
    display: block;
    margin: 14px 0px;
}