*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border: none;
    font-family: Helvetica, sans-serif;
}
body{
    background-color: var(--colorMain);
    overflow-x: hidden;
    max-width: 800px;
}
.containerImg{
    overflow: hidden;
    align-items: center;
    display: flex;
}
.imag{
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}
.shadow{
    box-shadow: 0px -1px 9px 7px var(--colorMain);
    width: 100%;
    height: 1px;
    background-color: var(--colorMain);
}
.containerRegras,
.containerHeader{
    width: var(--larguraComum);
    margin: auto;
    padding: 10px 0px;
    color: white;

}
.containerHeader{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-family: 'Kanit', sans-serif;
}

.containerHeader h1{
    font-size: 3em;
    font-weight: 900;
    width: 100%;
    display: block;
}

.containerData{
    color: var(--colorDesfoque);
    display: flex;
    width: var(--larguraComum);
    margin: auto;
    justify-content: space-between;
}
.containerData p{
    margin-right: 20px;
}

.maiusculas{
    text-transform: uppercase;
}
.containerRegras{
    color: var(--colorDesfoque);
    margin: 20px;
    margin-bottom: 100px;
}
.containerRegras p{
    font-size: 1.2em;
    margin-bottom: 26px;
    color: white;
    font-weight: bold;
}
.containerRegras ul,li{
    font-size: 0.98em;
    margin: 14px 0px;
    list-style: none;
}

.contanierBotaoDeCompra{
    position: fixed;
    bottom: -1px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 30px 0px;
    background-color: var(--colorMain);
    box-shadow: 0px -20px 20px 4px var(--colorMain);
}
.contanierBotaoDeCompra > button{
    background-color: var(--colorSecundary);
    color: white;
    padding: 14px 0px;
    width: var(--larguraComum);
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2.5px;
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0px 0px 20px 0px var(--colorSecundarySombra);
}
.contanierBotaoDeCompra > button:hover{
    background-color: var(--colorSecundarySombra);
    box-shadow: none;
    border: 1px solid var(--colorSecundary);

    color: white;
}

.animacaoSobe{
    animation: animacaoSobe 4s infinite;
}
.animacaoDesce{
    animation: animacaoDesce 4s infinite;
}

.tremida{
    animation: tremida 0.1s  normal;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.opacidade{
    animation: opacidade 10s infinite;
    box-shadow: inset 0px -25px 20px 0px var(--colorMain);
}

.btnAparecendo > button{
    animation: btnAparecendo 1s normal;
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
}
@keyframes animacaoSobe {
    0% {
      transform: translateY(-3px);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}
@keyframes animacaoDesce {
    0% {
      transform: translateY(3px);
    }
    55% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(3px);
    }
}
@keyframes opacidade {
    0% {
      opacity: 1;
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    65% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes tremida {
    0%{
        transform: rotateZ(5deg)

    }
    25%{
        transform: rotateZ(0deg)
    }

    50%{
        transform: rotateZ(-5deg)
    }

    75%{
        transform: rotateZ(0deg)
    }

    100%{
        transform: rotateZ(5deg)

    }
}

@keyframes btnAparecendo {
    0%{
        transform: translateY(81px);
        box-shadow: 0px 0px 20px 0px transparent;

    }
    100%{
        transform: translateY(0px);
        box-shadow: 0px 0px 20px 0px var(--colorSecundarySombra);

    }
}
.containerEmoji{
    display: flex;
    flex-direction: row;
}
.containerEmoji p{
    margin-right: 10px;
}



